@import "./base.less";

.@{css-prefix}.back-top {
  z-index: 1000;
  position: fixed;
  right: 80px;
  bottom: 50px;
  cursor: pointer;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  border-radius: @border-radius;
  padding: 1em;
  line-height: 1em;
  color: #ffffff;
}
