// @import "./base.less";

.card-loop-color(@counter) when (@counter > 0) {
  .card-loop-color((@counter - 1));
  @color-name: extract(@color-names, @counter);
  @color-value: "@{color-name}-color";
  &.@{color-name} {
    border-color: @@color-value;
    > .header {
      color: #fff;
      background: @@color-value;
    }
  }
}

.@{css-prefix}.card {
  position: relative;
  background: #fff;
  .transition(all .3s);
  font-size: 1em;
  .box-shadow;
  .border;
  border-radius: @border-radius @border-radius 0 0;

  .card-loop-color(length(@color-names));

  > .image {
    font-size: 0;
    line-height: 1;
  }

  > .header {
    border-bottom: @border-style;
    .padding;
  }
  > .content {
    .padding;
    border-bottom: @border-style;

    .table {
      margin: -@padding-vertical -@padding-horizontal;
      border: none;
    }
  }
  > .footer {
    .padding;
  }
}
