/** dark */
.fish.dark {
  background-color: #2B2B2B;
  color: #fff;

  .button {
    background: #4D5153;
    color: rgba(255, 255, 255, .82);

    &.active, &:hover, &:focus {
      background-color: #282828;
      color: #fff;
    }

    &.basic {
      background-color: transparent;
      border: 1px solid #5E6060;
      box-shadow: none;
    }
  }
}
