@import "./base.less";
.@{css-prefix}.dropdown {
  display: inline-block;
}
.@{css-prefix}-dropdown-layer {
  position: absolute;
  max-height: 300px;
  overflow: auto;
  z-index: 2001;
  .box-shadow;
  .border;

  > * {
    box-shadow: none;
    border: none;
  }

  // &.bottom-left {
  //   top: calc(~"100% + 5px");
  //   left: 0;
  // }
  // &.bottom-right {
  //   top: calc(~"100% + 5px");
  //   right: 0;
  // }
  // &.top-left {
  //   bottom: calc(~"100% + 5px");
  //   left: 0;
  // }
  // &.top-right {
  //   bottom: calc(~"100% + 5px");
  //   right: 0;
  // }
}
