@import "./base.less";

.@{css-prefix}.image {
  background-color: transparent;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  border: 0;
  margin: 0 .5em .5em 0;

  .disabled;

  &.bordered {
    border: 1px solid rgba(0,0,0,.15);
  }

  &.rounded {
    border-radius: .3125em;
  }

  &.circle {
    border-radius: 500rem;
  }
}