@import "./base.less";

.@{css-prefix}.message {
  .padding;
  font-size: 1em;
  color: #666;
  background-color: #f8f8f9;

  &.warning {
    background: @warning-background-color;
  }

  &.error {
    background: @error-background-color;
  }

  &.success {
    background: @success-background-color;
  }

  &.info {
    background: @info-background-color;
  }
}
