@import "./base.less";

.vui.message {
  .padding;
  font-size: 1em;

  &.warning {
    background: @warning-background-color;
  }

  &.error {
    background: @error-background-color;
  }

  &.success {
    background: @success-background-color;
  }

  &.info {
    background: @info-background-color;
  }
}
