@import './base.less';

.@{css-prefix}.menu {
  .submenu {
    position: relative;

    &:after {
      position: absolute;
      right: @padding-horizontal;
      top: @padding-vertical;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .menu {
      font-size: inherit;
    }
  }

  &.horizontal .submenu {
    > .menu {
      position: absolute;
      top: @padding-vertical * 2 + 1.5;
      left: 0;
      //margin-top: 5px;
    }
  }

  &.vertical .submenu {
    &:after {
      content: "\f105";
    }

    > .menu {
      position: absolute;
      left: 100%;
      top: -1px;
      margin-left: 5px;
    }
  }

  &.inline .submenu {
    padding: 0;

    &.item.active {
      border-right-color: @border-color;
      background-color: transparent;
      font-weight: 400;
    }
    &.item.active:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform:rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    &:after {
      content: "\f107";
    }

    > .title {
      .padding;
      &:hover {
        background-color: @hover-background-color;
      }
    }
    > .menu {
      box-shadow: none;
      border: none;

      .item {
        margin-right: -3px;
      }
    }
  }
}
